# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Firebase (если случайно зальете ключи)
*firebase*.json
*serviceAccount*.json

# Build
build/
ios/
android/

# Logs
logs/
*.log
